.grid {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  height: calc(100% - 150px);;
}

.gridtd {
  border-spacing: 0;
  border: 1px solid #000000;
  word-wrap:break-word;
}

.gridtd a {
  display:inline-block;
    width:100%;
    height:100%;
}
